.drawer {
  width: 35%;
  border-left: solid 1px var(--mantine-color-dimmed);
}

.drawer-header {
  padding: var(--mantine-spacing-md);
}

.drawer-content {
  padding: 0 var(--mantine-spacing-md);

  img {
    height: 300px;
    @media (max-width: 48em) {
      height: 200px;
    }
  }
}

.drawer-title {
  @media (max-width: 48em) {
    font-size: var(--mantine-h5-font-size) !important;
  }
}

.drawer-close-btn {
  position: absolute !important;
  top: 5px;
  right: 10px;
}
