button {
  border: none;
  text-decoration: none;
  background-color: transparent;
  border-radius: 0.25rem;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.landing-title {
  --text-gradient: linear-gradient(
    45deg,
    var(--mantine-color-blue-filled) 0%,
    var(--mantine-color-cyan-filled) 100%
  );
  font-size: 10rem !important;
  font-weight: 900 !important;
  line-height: 1 !important;

  @media (max-width: 62em) {
    font-size: 8rem !important;
  }

  @media (max-width: 48em) {
    font-size: 6rem !important;
  }
}

.icon {
  --icon-color: currentColor;
  --icon-size: 24px;

  width: var(--icon-size, 1.5rem);
  height: var(--icon-size, 1.5rem);
  color: var(--icon-color, currentColor);
  vertical-align: middle;
}

.yellow-star-icon {
  color: #f3ba37;
}
